<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header('Анкеты')"></head>
<body>
    <div>
        <nav th:replace="base::admin_navbar"></nav>
        <div class="container">
            <h2>Все анкеты</h2>
            <div>
                <div th:each="questionnaire : ${questionnaires}" class="row m-2">
                    <span th:text="${questionnaire.name}" class="col-md-2"></span>
                    <span class="col-md-2"><a th:href="@{/admin/questions(questionnaire_id=${questionnaire.id})}">Вопросы</a></span>
                    <th:block th:switch="${questionnaire.isChangeable()}">
                        <th:block th:case="true">
                            <span class="col-md-2">
                                <a th:href="@{/admin/questionnaires/{id}/edit(id=${questionnaire.id})}">Редактировать</a>
                            </span>
                            <span class="col-md-2 text-warning">Не опубликована</span>
                        </th:block>
                        <th:block th:case="false">
                            <span class=" col-md-2 text-warning">Редактирование заблокировано</span>
                            <span class="col-md-2">
                                <a th:href="@{/admin/questionnaires/{id}/users(id=${questionnaire.id})}">Список ответивших</a>
                            </span>
                        </th:block>
                    </th:block>
                    <form th:method="delete" th:action="@{/admin/questionnaires/{id}(id=${questionnaire.id})}" class="col-md-2">
                        <th:block th:switch="${questionnaire.isValid()}">
                            <th:block th:case="true">
                                <th:block th:switch="${questionnaire.status.name()}" class="btn btn-primary btn-block">
                                    <button th:case="'CREATED'" class="btn btn-primary btn-block">Опубликовать</button>
                                    <button th:case="'PUBLISHED'" class="btn btn-primary btn-block">Закрыть доступ</button>
                                    <button th:case="'HIDDEN'" class="btn btn-primary btn-block">Открыть доступ</button>
                                </th:block>
                            </th:block>
                            <th:block th:case="false">
                                <span class="text-danger">Не валидна</span>
                            </th:block>
                        </th:block>
                    </form>
                </div>
            </div>
            <div class="row m-2">
                <a class="col-md-2" href="/admin/questionnaires/new">+ Создать анкету</a>
            </div>
        </div>
    </div>
</body>
</html>