<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header('Ответы')"></head>
<body>
    <div>
        <nav th:replace="base::admin_navbar"></nav>
        <div>
            <h2 th:text="'Варианты ответов на вопрос: ' + ${parentQuestion.name}"></h2>
            <div>
                <a th:href="@{/admin/questions(questionnaire_id=${parentQuestion.questionnaire.id})}">К вопросу</a>
            </div>
            <div>
                <div th:each="answer : ${answers}">
                    <span th:text="${answer.name}"></span>
                    <span><a th:href="@{/admin/answers/{id}/edit(id=${answer.id})}">Редактировать</a></span>
                    <form th:method="delete" th:action="@{/admin/answers/{id}(id=${answer.id})}" style="display: inline">
                        <button type="submit">Удалить</button>
                    </form>
                </div>
            </div>
            <a th:href="@{/admin/answers/new(question_id=${parentQuestion.id})}">Добавить ответ</a>
        </div>
    </div>
</body>
</html>