<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All questionnaires</title>
</head>
<body>
<div>
    <h2>All questionnaires</h2>
    <table>
        <tr th:each="questionnaire : ${questionnaires}">
            <td th:text="${questionnaire.name}"></td>
            <td><a th:href="@{/admin/questionnaires/{id}/edit(id=${questionnaire.id})}" th:text="Edit"></a></td>
            <td><a th:href="@{/admin/questions(questionnaire_id=${questionnaire.id})}" th:text="Questions"></a></td>
            <td>
                <form th:method="DELETE" th:action="@{/admin/questionnaires/{id}(id=${questionnaire.id})}">
                    <th:block th:switch="${questionnaire.status.name()}">
                        <button th:case="'CREATED'">Publish</button>
                        <button th:case="'PUBLISHED'">Hide</button>
                        <button th:case="'HIDDEN'">Show</button>
                    </th:block>
                </form>
            </td>
        </tr>
    </table>
    <a href="/admin/questionnaires/new">Add</a>
</div>
</body>
</html>