<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header('Анкета')"></head>
<body>
    <div>
        <nav th:replace="base::admin_navbar"></nav>
        <div>
            <h2>Редактирание названия анкеты</h2>
            <div>
                <a href="/admin/questionnaires">К анкетам</a>
            </div>
            <div>
                <form th:method="patch" th:action="@{/admin/questionnaires/{id}(id=${questionnaire.id})}" th:object="${questionnaire}">
                    <div>
                        <label for="name">Анкета</label>
                        <input type="text" th:field="*{name}" id="name" name="name" placeholder="Новая формалировка" required>
                    </div>
                    <button type="submit">Редактировать</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>