<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit questionnaire name</title>
</head>
<body>
<div>
    <h2>Edit questionnaire name</h2>
    <a href="/admin/questionnaires">Back</a>
    <form th:method="PATCH" th:action="@{/admin/questionnaires/{id}(id=${questionnaire.id})}" th:object="${questionnaire}">
        <p>
            <label for="name">New name</label>
            <input type="text" th:field="*{name}" id="name" name="name" placeholder="New name" required>
        </p>
        <button type="submit">Edit</button>
    </form>
</div>
</body>
</html>