<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header('Анкета')"></head>
<body>
    <div>
        <nav th:replace="base::admin_navbar"></nav>
        <div class="container">
            <h2>Новая анкета</h2>
            <div class="row m-2">
                <a href="/admin/questionnaires" class="col-md-2">← К анкетам</a>
            </div>
            <div class="row m-2">
                <form th:method="post" th:action="@{/admin/questionnaires}" th:object="${questionnaireForm}" class="col-md-3">
                    <div class="form-group">
                        <label for="name">Анкета</label>
                        <input type="text" th:field="*{name}" id="name" name="name" placeholder="Название" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Создать</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>