<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New questionnaire</title>
</head>
<body>
<div>
    <h2>New questionnaire</h2>
    <a href="/admin/questionnaires">Back</a>
    <form th:method="POST" th:action="@{/admin/questionnaires}" th:object="${questionnaireForm}">
        <p>
            <label for="name">Name</label>
            <input type="text" th:field="*{name}" id="name" name="name" placeholder="Name" required>
        </p>
        <button type="submit">Create</button>
    </form>
</div>
</body>
</html>