<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header('Пользователи')"></head>
<body>
    <div>
        <nav th:replace="base::admin_navbar"></nav>
        <div class="container">
            <h2 th:text="'Ответившие пользователи (анкета: ' + questionnaire.name + ')'"></h2>
            <div class="row m-2">
                <a href="/admin/questionnaires" class="col-md-2">← К анкетам</a>
            </div>
            <div>
                <div th:each="user : ${users}" class="row m-2">
                    <span th:text="${user.login}" class="col-md-2"></span>
                    <form th:method="post" th:action="@{/admin/questionnaires/answers(questionnaire_id=${questionnaire.id}, login=${user.login})}" class="col-md-2">
                        <button type="submit" class="btn btn-primary btn-block">Показать ответы</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>