<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header('Каталог')"/>
<body>
<div>
    <nav th:replace="base::admin_navbar"></nav>
    <h2>Каталог анкет</h2>
<!--    <a href="#">Back</a>-->
    <table>
        <tr th:each="questionnaire : ${qustionnaires}">
            <td th:text="${questionnaire.name}"></td>
            <td><a th:href="@{/questionnaire/{id}(id=${questionnaire.id}, question=1)}" th:text="'Пройти'"></a></td>
        </tr>
    </table>
</div>
</body>
</html>