<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common_header(title)">
    <title th:text="${title}"></title>
</head>

<nav th:fragment="user_navbar">
    <div>
        <span>QUESTIONNAIRES PROJECT</span>
        <div>
            <ul>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="/current">Текущие</a></li>
                <li><a href="/history">Завершенные</a></li>
                <li>
                    <form method="post" action="/auth/logout">
                        <button type="submit">Выйти</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<nav th:fragment="admin_navbar">
    <div>
        <span>QUESTIONNAIRES PROJECT</span>
        <div>
            <ul>
                <li><a href="/catalog">Каталог</a></li>
                <li><a href="/current">Текущие</a></li>
                <li><a href="/history">Завершенные</a></li>
                <li><a href="/admin/questionnaires">Управление</a></li>
                <li>
                    <form method="post" action="/auth/logout">
                        <button type="submit">Выйти</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

</html>