<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header('Незавершенные анкеты')"/>
<body>
<div>
    <h2>Незавершенные анкеты</h2>
<!--    <a href="#">Back</a>-->
    <table>
        <tr th:each="questionnaire : ${qustionnaires}">
            <td th:text="${questionnaire.name}"></td>
            <td><a th:href="@{/questionnaire/{id}(id=${questionnaire.id}, question=1)}" th:text="'Продолжить'"></a></td>
        </tr>
    </table>
</div>
</body>
</html>