<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header('Авторизация')"/>
<body>
<div class="container">
    <form class="form-signin" method="post" action="/auth/login">
        <h2 class="form-signin-heading">Вход</h2>
        <p>
            <label for="username" class="sr-only">Логин</label>
            <input type="text" id="username" class="form-control" name="username" placeholder="Логин" required autofocus>
        </p>
        <p>
            <label for="password" class="sr-only">Пароль</label>
            <input type="password"  class="form-control" id="password" name="password" placeholder="Пароль" required>
        </p>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Войти</button>
    </form>
</div>
</body>
</html>