<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Questionnaire</title>
</head>
<body>
<div>
    <form th:action="@{/questionnaire}" th:method="post" th:object="${user}">
        <ul>
            <li th:each="question : ${questionnaire.questions}">
                <div>
                    <p th:text="${question.name}"></p>
                    <ul>
                        <li th:each="answer : ${question.answers}">
                            <div>
                                <input th:type="${question.multiplyAnswer} ? 'checkbox' : 'radio'"
                                       th:attr="name=${question.name}" th:field="*{answers}"
                                       th:value="${answer.id}"
                                >
                                <label th:text="${answer.name}"></label>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr>
            </li>
        </ul>
        <button type="submit">Submit</button>
    </form>
<!--    <script>-->
<!--        let inputs = document.getElementsByTagName('input');-->
<!--        for (let i = 0; i < inputs.length; i++) {-->
<!--            inputs[i].setAttribute('name', inputs[i].getAttribute('class'));-->
<!--        }-->
<!--    </script>-->
</div>
</body>
</html>