<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body>
<div>
    <h2 th:text="${questionnaire.name}"/>
    <h2 th:text="'№' + ${idxQuestion} + ': ' + ${question.name}"/>
    <form th:method="POST"
          th:action="@{/questionnaire/{questionnaire_id}(questionnaire_id=${questionnaire.id}, question=${idxQuestion})}"
          th:object="${userForm}">
        <ul>
            <li th:each="userAnswer, stat : ${userAnswerOptions}">
                <input th:type="${question.multiplyAnswer} ? 'checkbox' : 'radio'"
                       th:field="*{userAnswers}"
                       th:text="${userAnswer.userAnswerId.answer.name}"
                       th:value="${userId} + '_' + ${userAnswer.userAnswerId.answer.id}"
                >
            </li>
        </ul>
        <a th:if="${idxQuestion} > 1"
           th:href="@{/questionnaire/{questionnaire_id}(questionnaire_id=${questionnaire.id}, question=${idxQuestion} - 1)}"
           th:text="Prev"/>
        <button type="submit">Save</button>
        <a th:if="${idxQuestion} != ${questionnaire.questions.size()}"
           th:href="@{/questionnaire/{questionnaire_id}(questionnaire_id=${questionnaire.id}, question=${idxQuestion} + 1)}"
           th:text="Next"/>
    </form>
    <form th:action="@{/questionnaire/{questionnaire_id}/save(questionnaire_id=${questionnaire.id})}">
        <button>Finish</button>
    </form>
</div>
</body>
</html>