<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="base::common_header('Мои ответы')"></head>
<body>
    <div>
        <nav th:replace="base::admin_navbar"></nav>
        <div class="container">
            <h2 th:text="${questionnaire.name}"></h2>
            <div class="row m-2">
                <ul>
                    <li th:each="question : ${questionnaire.questions}">
                        <span th:text="${question.name}"></span>
                        <ul>
                            <th:block th:each="answer : ${question.answers}">
                                <th:block th:if="${userAnswers.contains(answer)}">
                                    <li th:text="${answer.name}"/>
                                </th:block>
                            </th:block>
                        </ul>
                        <br>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>